.App {
  text-align: center;
  background-image: url("./assets/Background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-family: "Oswald", sans-serif;
}
